@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>Hello There</h1>

<div>
    <p>Welcome to the Joel Hilton Film Collection.</p>
    <img src="~/img/JoelHiltonHeadshot.jpg" />
</div>

<div>
    <h5>Know a good movie?</h5><br />
    <a asp-controller="Home" asp-action="NewMovie">Add a Movie to the Database</a>
</div>

<div>
    <a asp-controller="Home" asp-action="Collection">View Collection</a>
</div>